<!--must be in templates file or else render_template wont mean shit and it wont run this file-->
<html>
    <head>
        <title>Home Sweet Home</title>
    </head>
    <body>
        <h1>home page!!!!!</h1>
        <p>welcome to the main page {{ content }} we've been waiting all summer and we are so happy to have you here.</p>
        <p>{{ r }} days left until summer break!</p>
        {% for i in range(10) %}
            <p>Hello!</p>
        {% endfor %}
        <img src="espanol1.jpg"></img>
    </body>
</html>


